 
.weui_toast{position: fixed;z-index:1000;width: 7.6em;min-height: 7.6em;top: 180px;left: 50%;margin-left: -3.8em;background: rgba(40, 40, 40, .75);text-align: center;border-radius: 5px;color: #FFF}
.weui_toast_content{margin: 0 0 15px}
.spinner{width: 50px;height: 50px;text-align: center;font-size: 10px;margin: 0 auto;margin-top: 30px}
.spinner>div{background-color: #CCCCCE;height: 100%;width: 6px;display: inline-block;margin-right: 3px;-webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2{-webkit-animation-delay: -1.1s;animation-delay: -1.1s}
.spinner .rect3{-webkit-animation-delay: -1s;animation-delay: -1s}
.spinner .rect4 { -webkit-animation-delay: -.9s; animation-delay: -.9s; }
.spinner .rect5 { -webkit-animation-delay: -.8s; animation-delay: -.8s; }
@-webkit-keyframes stretchdelay {
    0%,100%,40% { -webkit-transform: scaleY(.4); }
    20% { -webkit-transform: scaleY(1); }
}
@keyframes stretchdelay {
    0%,100%,40% { transform: scaleY(.4); -webkit-transform: scaleY(.4); }
    20% { transform: scaleY(1); -webkit-transform: scaleY(1); }
}
.f00{ color: #f00 }
html,body{ max-width: 640px;margin: 0 auto;font-family: "微软雅黑";    line-height: 1.4;}
dl,dt,dd,ul,li{ margin: 0;padding: 0; } 
.df{ display: flex;justify-content: center;align-items: center;flex-wrap: wrap; }

.mui-grid-view.mui-grid-9 .mui-media .mui-icon{ color: #f33 }
body{  padding-bottom: 50px; }
#supplier-search input[type=search]{    margin-bottom: 0 }
.mui-card-footer{ justify-content: flex-end }

.input_nor{padding: 0!important;margin: 0!important;border: none!important;height: initial!important;  font-size: 14px;     width: 52px!important;    line-height: 1.4!important; position: relative;}
.input_nor_line {position: relative; }
.input_nor_line::after { position: absolute;content: "";height: 1px;    bottom: -1px;left: 0;right: 0;background-color: #007aff; }
.input_bottom_line{ border-bottom: 1px solid #007aff!important }


/* 图片上传 */ 
  #up-img-box{ margin :10px auto; width:100%;position: relative;     text-align: center;}
  #up-img-box #doc{ position: absolute;left: 0;right: 0;top: 0;     height: 100%;opacity: 0; width: 100%;}
 
/* 图片上传 */

.mui-input-row-textarea label{ width: 25%!important; }
.mui-input-row-textarea textarea{ width: 75%!important; }

table{width:100%;background:#fff;margin:0 auto}
td{text-align:center}

.table-style thead th{padding:10px 0}
.table-style>tbody>tr>td{border-bottom:1px solid #d6d6d6}
.table-style>tbody>tr:nth-child(2n) td{background-color:#fff;padding:3px 0}
.table-style>tbody>tr:nth-child(2n-1) td{background-color:#eaeaea;padding:3px 0}

.warehouse-add{    z-index: 99;
    padding: 5px 10px;
    border-radius: 4px;}


    /* 蒙层 */
    .jxc-mask{  display: none;  position: fixed;transition: all .3s;  left: 0;  right: 0;  top: 0;  bottom: 0;background: rgba(0, 0, 0, .3);z-index: 100; }
    /* 蒙层 */
    #popup-area{display: none;  position:fixed; bottom:0; left:0; width: 100%; /* height: 400px;  */padding:0px 10px; border:none; transition: all .3s;z-index: 101;}
    #popup-area>div{ margin-bottom: 6px;background-color: #fff; border-radius: 5px; }
<<<<<<< HEAD
        .popup-area-box{    height:322px; overflow-y: auto; }
=======
        .popup-area-box{    height: 286px; overflow-y: auto; }
>>>>>>> 6414d889da46b09256559b6ccd808d45b1dcb959
        .popup-area-tit{ text-align: center;font-size: 18px;padding: 10px 0 ;     }
        .popup-area-tit .mui-content-padded {  margin:0 10px }
        .popup-area-tit input[type=search]{  margin-bottom: 0 }
        
        .popup-area-box  .mui-checkbox.mui-left input[type=checkbox]{ top: 50%;margin-top: -13px;left: 11px; }
        .popup-area-box  .mui-checkbox.mui-left input:checked +label span b{color: #f33  }
        #popup-area-btn a{    font-size: 16px;;    line-height: 38px; display: block;    flex: 1;text-align: center}
        #popup-area-btn a:first-child{ }
<<<<<<< HEAD
=======

        
        .popup-area-box ul .mui-checkbox.mui-left label  {    padding-right: 10px;
            padding-left: 48px;}
        .popup-area-box ul{ background-color: #f3f3f3;  }
        .popup-area-box ul li{ background-color: #fff!important;     margin-bottom: 2px; }
        .popup-area-box ul li label div{ line-height: 1.4; }
        .popup-area-box ul li label  .title{line-height: 1.6;font-size: 16px; }
        .popup-area-box ul li label div.df span{flex: 2;display: block; }
        .popup-area-box ul li label div.df span+span{flex: 3; }

>>>>>>> 6414d889da46b09256559b6ccd808d45b1dcb959

        
        .popup-area-box ul .mui-checkbox.mui-left label  {    padding-right: 10px;
            padding-left: 48px;}
        .popup-area-box ul{ background-color: #f3f3f3;  }
        .popup-area-box ul li{ background-color: #fff!important;     margin-bottom: 2px; }
        .popup-area-box ul li label div{ line-height: 1.4; }
        .popup-area-box ul li label  .title{line-height: 1.6;font-size: 16px; }
        .popup-area-box ul li label div.df span{flex: 2;display: block; }
        .popup-area-box ul li label div.df span+span{flex: 3; }

        #guige-boxNumber{background: #fff; position:fixed; bottom:0; left:0; width: 100%; min-height: 300px; padding:10px 20px; border:none; transition: all .3s;z-index: 101;}
        #guige-boxNumber .title{ text-align: center; font-size: 18px; }
    #guige-boxNumber .mui-btn-block{ padding: 6px 0 }
    #guige-boxNumber .title{ margin-bottom: 5px }
    #select-pro-list-box {    height: 320px;
        overflow-y: auto;}
            .select-pro-list span{display: inline-block; width: 49%;border: 1px solid #ccc }
             select{margin-bottom: 0}
            .select-pro-li{   
        margin: 5px 0;
        border-top: 1px dashed #868686;}
        /* .select-pro-li-on span{color: #f33  } */
        .select-pro-li  div input[type=checkbox]{top: 50%; margin-top: -13px;left: 11px!important; }
        .select-pro-li  div label{    padding-left: 48px!important; }
        .select-pro-li  div input[type=checkbox]:checked+label span{   color: #f33  }
        .mui-bar button.mui-btn.mui-pull-right{ font-size: 20px; }