 
.weui_toast{position: fixed;z-index:1000;width: 7.6em;min-height: 7.6em;top: 180px;left: 50%;margin-left: -3.8em;background: rgba(40, 40, 40, 0);text-align: center;border-radius: 5px;color: #FFF}
.weui_toast_content{margin: 0 0 15px;color: #4cd964}
.spinner{width: 50px;height: 50px;text-align: center;font-size: 10px;margin: 0 auto;margin-top: 30px}
.spinner>div{background-color: #4cd964;height: 100%;width: 4px;display: inline-block;margin-right: 3px;-webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2{-webkit-animation-delay: -1.1s;animation-delay: -1.1s}
.spinner .rect3{-webkit-animation-delay: -1s;animation-delay: -1s}
.spinner .rect4 { -webkit-animation-delay: -.9s; animation-delay: -.9s; }
.spinner .rect5 { -webkit-animation-delay: -.8s; animation-delay: -.8s; }
@-webkit-keyframes stretchdelay {
    0%,100%,40% { -webkit-transform: scaleY(.4); }
    20% { -webkit-transform: scaleY(1); }
}
@keyframes stretchdelay {
    0%,100%,40% { transform: scaleY(.4); -webkit-transform: scaleY(.4); }
    20% { transform: scaleY(1); -webkit-transform: scaleY(1); }
}
.f00{ color: #f00 } 
.font-blue{color:#007aff}
html,body{ max-width: 640px;margin: 0 auto;font-family: "微软雅黑";    line-height: 1.4;}
body{  padding-bottom: 50px; }
dl,dt,dd,ul,li{ margin: 0;padding: 0;list-style: none; } 
.df{ display: flex;justify-content: center;align-items: center;  }
.fl {
    float: left;
  }
  
  .fr {
    float: right;
  }
  
  .clearfix:after {
    content: " ";
    display: block;
    clear:both;
  } 
.mui-table-view-cell{ /* padding: 11px 10px */  }

.table-style{width:100%;}
.table-style tbody td{width:20%;}
.table-style tbody td  input[type="text"]{     width:100%;
    border: none;
    color: #6d6d72;
    padding: initial;
    height: initial;
    margin: initial;
    padding: 3px 0!important;
    font-size: 14px;text-align: center;}
.addItem{ width: 100%; padding: 10px  }
/* 登录页面 */
#login-box{background-color: transparent;    height: 100%; display: flex; justify-content: center; align-items: center;   } 
#login-box .mui-input-group { margin-top: 10px; }
#login-box .mui-card-header{     justify-content: center;} 
#login-box  .mui-btn { padding: 10px; }
#login-box #login{ margin-top: 20px }
#login-box .mui-input-group .mui-input-row:after{ right: 15px;height: 1px!important; }
#login-box .mui-input-row label{ width: 25%; }
#login-box .mui-input-row label~input{ width: 75% }
#login-box .mui-card{    border-radius: 5px;}
/* 登录页面 */

.mui-table-view-cell:after,.mui-input-group .mui-input-row:after { right: 15px; }
.mui-input-row-textarea {
    height: initial !important
}

#mui-card-form .mui-card-footer {
    justify-content: flex-end;
}

.mui-grid-view.mui-grid-9 .mui-media .mui-icon{ color: #f33 }
.mui-grid-view.mui-grid-9{ background-color: #fff }

form input[type=search]{    margin-bottom: 0 }
.mui-card-footer{ justify-content: flex-end }
.mui-card-footer .mui-btn{     font-size: 16px;}

.input_nor{padding: 0!important;margin: 0!important;border: none!important;height: initial!important;  font-size: 14px;    /*  width: 55px!important; */    line-height: 1.4!important; position: relative;}
.input_nor_line {position: relative;display:inline-block }
.input_nor_line::after { position: absolute;content: "";height: 1px;    bottom: 0px;left: 0;right: 0;background-color: #007aff; }
.input_bottom_line{ border-bottom: 1px solid #007aff!important }
 

table{width:100%;background:#fff;margin:0 auto}
td{text-align:center}

.table-style thead th{padding:10px 0;text-align: center;}
.table-style>tbody>tr>td{border-bottom:1px solid #d6d6d6}
.table-style>tbody>tr>td{   display: table-cell;}
.table-style>tbody>tr:nth-child(2n) td{background-color:#fff; }
.table-style>tbody>tr:nth-child(2n-1) td{background-color:#eaeaea; }

.warehouse-add{    z-index: 99;
    padding: 5px 10px;
    border-radius: 4px;}


    /* 蒙层 */
    .jxc-mask{  display: none;  position: fixed;transition: all .3s;  left: 0;  right: 0;  top: 0;  bottom: 0;background: rgba(0, 0, 0, .3);z-index: 100; }
    /* 蒙层 */
    /* 货品箱规格弹出层 */
    #guige-choose-box{display: none;  position:fixed; bottom:0; left:0; width: 100%; /* height: 400px;  */padding:0px 10px; border:none; transition: all .3s;z-index: 101;    background: #fff;}
    #guige-choose-box ul{    padding: 10px 0;}
    /* 货品箱规格弹出层 */
    #popup-area{display: none;  position:fixed; bottom:0; left:0; width: 100%; /* height: 400px;  */padding:0px 10px; border:none; transition: all .3s;z-index: 101;}
    #popup-area>div{ margin-bottom: 6px;background-color: #fff; border-radius: 5px; }
        .popup-area-box{    height:340px; overflow-y: auto; }
        .popup-area-tit{ text-align: center;font-size: 18px;padding: 10px 0 ;     }
        .popup-area-tit .mui-content-padded {  margin:0 10px }
        .popup-area-tit input[type=search]{  margin-bottom: 0 }
        
        .popup-area-box  .mui-checkbox.mui-left input[type=checkbox],.mui-radio.mui-left input[type=radio]{ top: 50%;margin-top: -13px;left: 11px; }
        .popup-area-box  .mui-checkbox.mui-left input:checked +label span b{color: #f33  }

        #popup-area-btn a{    font-size: 16px;;    line-height: 38px; display: block;    flex: 1;text-align: center}
        #popup-area-btn a:first-child{ }

        
        .popup-area-box ul .mui-checkbox.mui-left label  {    padding-right: 10px;
            padding-left: 48px;}
        .popup-area-box ul{ background-color: #f3f3f3;  }
        .popup-area-box ul li{ background-color: #fff!important;     margin-bottom: 2px; }
        .popup-area-box ul li:nth-last-of-type(1){padding: 10px }
        /* .popup-area-box ul li label div{ line-height: 1.4; } */
        .popup-area-box ul li label  .title{line-height: 1.6;font-size: 16px; }
        /* .popup-area-box ul li label div.df span{flex: 2;display: block; } */
        /* .popup-area-box ul li label div.df span+span{flex: 3; } */

        #guige-boxNumber{background: #fff; position:fixed; bottom:0; left:0; width: 100%;   padding:10px 20px; border:none; transition: all .3s;z-index: 102;}
        #guige-boxNumber .title{ text-align: center; font-size: 18px; }
    #guige-boxNumber .mui-btn-block{ padding: 6px 0 }
    #guige-boxNumber .title{ margin-bottom: 5px }
    #guige-boxSize input {
        width: 20%;
        font-size: 14px;
    }
    #select-pro-list-box {    height: 320px;
        overflow-y: auto;}
            .select-pro-list span{display: inline-block; width: 49%;border: 1px solid #ccc }
             select{margin-bottom: 0}
            .select-pro-li{   
        margin: 5px 0;
        border-top: 1px dashed #868686;}
        /* .select-pro-li-on span{color: #f33  } */
        .select-pro-li  div input[type=checkbox]{top: 50%; margin-top: -13px;left: 11px!important; }
        .select-pro-li  div label{    padding-left: 48px!important; }
        .select-pro-li  div input[type=checkbox]:checked+label span{   color: #f33  }
        .mui-bar button.mui-btn.mui-pull-right{ font-size: 20px; }

        /*=========================上传样式 start===========================*/
/*上传样式*/

.logo li{     width: 80%;   text-align: center;  padding: 2%;  margin: 0 auto; }
.logo li img{    width: 100%; } 
.upload-box{ position:relative;  vertical-align:middle; zoom:1; *display:inline;}
.upload-box .upload-btn{   zoom:1; *display:inline; }
.upload-box .upload-progress{ display: none; position:absolute; top:0; left:0; padding:2px 5px; width:115px; height:26px; border:1px solid #d7d7d7; background:#fff; overflow:hidden; }
.upload-box .upload-progress .txt{ display:block; padding-right:10px; font-weight:normal; font-style:normal; font-size:11px; line-height:18px; height:18px; text-overflow:ellipsis; overflow:hidden; }
.upload-box .upload-progress .bar{ position:relative; display:block; width:112px; height:4px; border:1px solid #1da76b; }
.upload-box .upload-progress .bar b{ display:block; width:0%; height:4px; font-weight:normal; text-indent:-99em; background:#28B779; overflow:hidden; }
.upload-box .upload-progress .close{ position:absolute; display:block; top:1px; right:1px; width:14px; height:14px; text-indent:-99em; background:url(skin_icons.png) -56px -196px no-repeat; cursor:pointer; overflow:hidden; }
/*=====================以下部分是WebUploader必须的====================*/
.webuploader-container{ position:relative; }
.webuploader-element-invisible{ position:absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px); }
.webuploader-pick{ position:relative; /* display:inline-block; width:65px; */margin: 10px; line-height:32px; height:32px; border:1px solid #007aff; cursor:pointer; background-color: #007aff;color:#fff; text-align:center; overflow:hidden; zoom:1; *display:inline; /* border-radius:2px; */}
.webuploader-pick-hover{ background:#3995f9; }
.webuploader-pick+div{ width: 100%!important;height: 100%!important; }
.webuploader-pick-disable{ opacity:0.6; pointer-events:none; }
/*=====================以上部分是WebUploader必须的====================*/

.F16{ font-size: 16px; }
.F18{ font-size: 18px; }
/* 列表项  */
img.mui-media-object.mui-pull-left{
    max-width: 90px;
    height: 90px;
}

.list-show{ position: relative }
.list-show>img{    position: absolute; top: 50%;  transform: translateY(-50%);  right: 20px; }
.list-show .df{  color: #666; line-height: 1.6;overflow: hidden;}
.list-show .df span{ display: block;flex: 3;    overflow: hidden; display: flex; }
.list-show .df span b{    font-weight: normal;}
.list-show .df span+span{ flex: 3}
.list-show .df span label{ flex: 1  }
.list-show .df .mui-badge {   line-height: initial; margin-right: 2px;    font-weight: 400; border-radius: 4px  }
.list-show-other span:first-child{ flex: 2 }
.list-show-other span+span{ flex: 1!important }
/* 列表项  */


 /* 搜索框去bug */
 .mui-search.mui-active:before {margin-top: -14px; }
 /* 搜索框去bug */
 .mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn){margin-right: -90px;}
 .mui-navigate-right:after{ right: 40px; }

 /* 订单流程 */
 .purchase-flow {  }
 .purchase-flow div span{display: block  }
 .purchase-flow .purchase-flow-l{padding-right: 8%;width: 40%;position: relative; text-align: right;border-right: 1px solid #ccc;    padding-bottom: 10px;}
 .purchase-flow .purchase-flow-l i{
    position: absolute;
    top: -2px;
    right: -9px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
  }

 .purchase-flow .purchase-flow-l i::before{        content: '\e442';   font-family: Muiicons;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: 0 0;
    -webkit-font-smoothing: antialiased; }
    .purchase-flow .purchase-flow-on .purchase-flow-l i::before{ color: #007aff;  }
 .purchase-flow .purchase-flow-l span{text-align: right}
 .purchase-flow .purchase-flow-r{padding-left: 8%; width: 60%;height: 100%;padding-bottom: 10px;}
 /* 订单流程 */


 /* =========================== 货品箱规格 =========================== */

.guige-boxNumber-color dd,
.guige-boxNumber-size dd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap
}

.guige-boxNumber-color dt,
.guige-boxNumber-size dt {
  width: 100%;
  border-left: 3px solid #dc2e2e;
  padding-left: 6px;
  line-height: 1;
  vertical-align: middle;
}

#guige-boxNumber-add .mui-input-row {
  padding: 10px 0;
  height: initial;
}

.guige-boxNumber-color dd span,
.guige-boxNumber-size dd span {
  float: left;
  padding: 5px 6px;
  font-size: 14px;
  border: 1px solid #666666;
  border-radius: 4px;
  margin: 15px 10px 15px 0;
}

span.guige-on {
  color: #ffffff;
  background: #F03C03;
  border: 1px solid #F03C03!important;
}

#guige-boxNumber-add label {
  padding-left: 0px;
  width: initial;
  font-size: 14px;
}
 /* =========================== 货品箱规格 =========================== */



 /* 首页搜索结果页 */
 .search-box {background: #fff ;    margin-top: 40px; }
 .search-box dl{padding-left: 4%;border-bottom: 1px solid #ccc }
 .search-box dl dt{ margin:-20px 15px 0 0 }
 .search-box dl dt img{ border-radius: 5px;border: 1px solid #ddd }
 .search-box dl dd p{ margin-bottom: 5px; }
 .search-box dl dd p:first-child{     padding-top: 4%;font-size: 18px;font-weight: bold;color: #333 }
 .search-box  table tbody tr td {    padding: 10px 0!important;}
 /* 首页搜索结果页 */


  /* 货品详情页 */
  .pro-show-box {background: #fff ;    margin-top: 40px; }
  .pro-show-box dl{padding-left: 4%;border-bottom: 1px solid #ccc }
  .pro-show-box dl dt{ margin:-20px 15px 0 0 }
  .pro-show-box dl dt img{ border-radius: 5px;border: 1px solid #ddd }
  .pro-show-box dl dd p{ margin-bottom: 5px; }
  .pro-show-box dl dd p:first-child{     padding-top: 4%;font-size: 18px;font-weight: bold;color: #333 }
  .pro-show-box  table tbody tr td {    padding: 10px 0!important;}
  /* 货品详情页 */

  .salesPresell ul li { padding: 10px }
  .btn-2 .mui-btn{ width: 50%;border-radius: 0px }


  /* 时间区间 */
  .timeInterval button{width: 48%; margin: 0 1%; float: left; }
  .timeInterval button{  }
  .timeInterval button+button{   }
  /* 时间区间 */